﻿@model List<tickets.Models.Article>
@{
    Layout = "";
} 




<table class="table">
   @for (int i = 0; i < Model.Count();i++)
    {
        <tr>
            <h2>
                <p>
                    @Html.DisplayFor(modelItem => Model[i].title)
                </p>
            </h2>
            <p>
                @Html.DisplayFor(modelItem => Model[i].annonce)
            </p>            
            <p>
                @Html.DisplayFor(modelItem => Model[i].date)
            </p>
            <p>
                @if (User.IsInRole("Admin")) {
                   @Html.ActionLink("Edit", "Edit", new { id = Model[i].id });
                   @Html.ActionLink("Delete", "Delete", new { id = Model[i].id });
                }
                @Html.ActionLink("Подробно", "Details", new { id = Model[i].id })
            </p>
        </tr>
    }

</table>
