﻿@model List<tickets.Models.Match>
@{
    Layout = "";
} 



@Html.Raw("<style>#MatchBar {position: fixed; z - index: 101;}</style>")




<article id="MatchBar" >
    <table class="table">
        
        @foreach (var item in Model)
        {
            <tr>
                <td style="cursor:pointer" onMouseOver="this.style.background='#FFCC33'" onMouseOut="this.style.background=''" onClick="document.location='Orders/Create/@item.id'">
                    <p>
                        <h3>

                            @Html.DisplayFor(modelItem => item.date)

                        </h3>
                    </p>
                    <p>
                        @Html.Action("getImage", "Teams", new { id = item.firts_team })
                        <strong>VS</strong>
                        @Html.Action("getImage", "Teams", new { id = item.second_team })
                    </p>
                    <p>
                        @if (User.IsInRole("Admin"))
                    {
                            @Html.ActionLink("Edit", "Edit", new { id = item.id });
                            @Html.ActionLink("Delete", "Delete", new { id = item.id });


                        }
                   

               </td>
            </tr>
        }

    </table>
</article>