﻿@model tickets.Models.Match
@{
    Layout = "";
} 


        <p>
            <strong>

                @Html.DisplayFor(modelItem => Model.date)

            </strong>
       </p>
<p>
    @Html.Action("getImage", "Teams", new { id = Model.firts_team })
    <strong>VS</strong>
    @Html.Action("getImage", "Teams", new { id = Model.second_team })
</p>
<p>