﻿@model tickets.Models.Team



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Team</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.logo)
            </dt>
    
            <dd>
                @Html.Action("getImage", "Teams", new { id = Model.id })
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.available)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.available)
            </dd>
    
            @*<dt>
                @Html.DisplayNameFor(model => model.Match.id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Match.id)
            </dd>*@
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
