﻿@model tickets.Models.Team

@{
    ViewBag.Title = "Команда " + Model.name;

}


  
        <dl class="dl-horizontal">
            
            <dd>
                <h3>@Html.DisplayFor(model => model.name)</h3> 
                @Html.Action("getImage", "Teams", new { id = Model.id })
            </dd>
           
            
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
           
    
            <dt>
                Матчи
            </dt>
            <dd>
                @foreach (var item in Model.Match1)
                {

                    <div class="col-md-3">

                        
                            <p>
                                <strong>@Html.DisplayFor(modelItem => item.date)</strong>  
                            </p>
                       
                        <p>
                            @Html.Action("getImage", "Teams", new { id = item.firts_team })
                            <strong>VS</strong>
                            @Html.Action("getImage", "Teams", new { id = item.second_team })
                        </p>
                        <p>
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.id });
                                @Html.ActionLink("Delete", "Delete", new { id = item.id });


                            }
                        <p class="text-center">@Html.ActionLink("Выбрать билет", "Create", "Orders", new { id = item.id }, null)</p>

                        

                    </div>


                }
            </dd>
    
            @*<dt>
                @Html.DisplayNameFor(model => model.Match.id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Match.id)
            </dd>*@
    
        </dl>
    </div>
    <p>
       @if(User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.id })
        } 
        @Html.ActionLink("К списку матчей", "Index")
    </p>
