﻿@model IEnumerable<tickets.Models.Team>



@{
    ViewBag.Title = "Выбор матча";

}

    @if (User.IsInRole("Admin"))
    {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    }
    <table class="table">

        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @Html.Action("getImage", "Teams", new { id = item.id })
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>


                <td>

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                </td>
            </tr>
            }
        </table>

