﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.card {
  min-width: 0;
  margin: 20px 10px;
  width: 100%;    
  background: #0C0C0C;
  color: #696969;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border: none;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 30px;
}
.card .card-img-container .card-img {
  background-size: cover;
  background-position: top center;
  display: block;
  height: 175px;
}
.card .card-img {
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .card-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.card .card-content {
  padding: 20px 20px 40px;
  text-align: center;
}
.card .card-meta {
  font-size: 12px;
}
.card .meta-box {
  margin-right: 20px;
}
.card .card-content h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}
.card h2 a {
  color: #D0D0D0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
a:hover{
    text-decoration:none;    
}
.card:hover h2 a {
  color: #FFF;
}
.card .meta-tags a:hover {
  color: #FFF;
}
.card .meta-tags .tag {
  background: #DD1B16;
  color: #f9c7c6;
}
.card .meta-tags a:last-child {
  margin-right: 0;
  border-bottom-right-radius: 5px;
}
.card .meta-tags a:first-child {
  border-top-left-radius: 5px;
}
.card .meta-tags a {
  display: inline-block;
  padding: 3px 8px;
  color: #FFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.state-0{
    color :black;
    background-color :green;
    
}
.state-1{
    color :yellow;
    background-color :red;
}
.state-2{
    color :red;
    background-color :red;
}
.state-3{
    color :red;
    background-color :red;
}


