﻿@model tickets.Models.Match

@{
    ViewBag.Title = "Delete";
}



@if (User.IsInRole("Admin")) { 
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firts_team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firts_team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_team)
        </dd>

    </dl>
    }
            using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
   
</div>
}
