﻿@model IEnumerable<tickets.Models.Match>

@{
    ViewBag.Title = "Матчи";
}

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
    

        @foreach (var item in Model)
        {
                            
                    <div class="col-md-3" style="cursor:pointer" onMouseOver="this.style.background='#FFCC33'" onMouseOut="this.style.background=''" onClick="document.location='Orders/Create/@item.id'">
                        
                        <h3>
                            <p>
                                @Html.DisplayFor(modelItem => item.date)
                            </p>
                        </h3>
                        <p>
                            @Html.Action("getImage", "Teams", new { id = item.firts_team })
                            <strong>VS</strong>
                            @Html.Action("getImage", "Teams", new { id = item.second_team })
                        </p>
                        
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.id });
                                @Html.ActionLink("Delete", "Delete", new { id = item.id });


                            }
                        
                    </div>
           

         }
   



