﻿@model tickets.Models.Article

@{
    ViewBag.Title = "Новости " + Model.title;
  
}

<table class="table">
    
        <tr>
            <h2>
                <p>
                    @Html.DisplayFor(modelItem => Model.title)
                </p>
            </h2>
            <p>
                @Html.DisplayFor(modelItem => Model.text)
            </p>
            <p>
                @Html.DisplayFor(modelItem => Model.date)
            </p>
            <p>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.id });
                    @Html.ActionLink("Delete", "Delete", new { id = Model.id });
                }
                
            </p>
        </tr>
    

</table>
<p>
    @Html.ActionLink("Назад к новостям", "Index")
</p>
