﻿@{
    ViewBag.Title = "Купить билет на футбольный матч";
}
<div class="row">
    <div class="col-md-8">
        @Html.Action("getFiveArticles", "Articles")
    </div>
    <div class="col-md-4">
        @Html.Action("getFiveMathes", "Matches")
    </div>
</div>
