﻿@model tickets.Models.Ticket
@{
    ViewBag.Title = "Удалить предзаказ";
}

<table class="table">
    <tr>
        <th>
            Матч
        </th>
        <th>
            Цена
        </th>
        <th>
            Сектор
        </th>
        <th>
            Место
        </th>

    </tr>
    <tr>
        <td>
            @Html.Action("getMatchById", "Matches", new { id = Model.Match1.id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Sector1.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Sector1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.place)
        </td>

    </tr>
</table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> 
        </div>
    }
</div>
