﻿@model IEnumerable<tickets.Models.Order>

@{
    ViewBag.Title = "Мои заказы";
}

<h2>Мои заказы</h2>


<table class="table">
    <tr>
        <th>
            Матч
        </th>
        <th>
            Цена
        </th>
        <th>
            Сектор
        </th>
        <th>
            Место
        </th>
        <th>
            Оплачено
        </th>
        <th>
            Оплатить
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Action("getMatchById", "Matches", new { id = item.Ticket.Match1.id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.Sector1.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.Sector1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.place)
        </td>
        <td>          
            @if(item.Ticket.state==2)
            {
                <div class="text-warning">Нет</div>
            }
            @if (item.Ticket.state == 3)
            {
                <div class="text-info">Да</div>
            }

        </td>
        <td>
            @if (item.Ticket.state == 2)
            {
                <p>@Html.ActionLink("Перейти к оплате", "Confirm", "Orders", new { id = item.Ticket.id }, null)</p>
                <p>@Html.ActionLink("Удалить", "Delete", "Orders", new { id = item.id }, null)</p>
            }          
        </td>
    </tr>
}

</table>
